@mixin segment($number, $width: 50px, $height: 64px, $type: lt303) {

    background: url('./../assets/7segment/#{$type}/#{$number}.jpg');
    width: $width;
    height: $height;
    display: inline-block;
    padding: 0;
    margin: -2px;
}

@mixin segments {
    @for $i from 0 through 9 {
        .segment-#{$i} {
            @include segment($i);
        }
    }
}

.segment-dotoff {
    @include segment(dotoff, 17px);
}

.segment-doton {
    @include segment(doton, 17px);
}

@include segments;
