@keyframes scroll-up-loop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes scroll-up-half {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes scroll-up-half2 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes blink {
  0% {
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }
}
